
@{
    ViewBag.Title = "Index";
}

<h2>@Html.Disposable(x => x.Component(c => c.Class("william-casey").Class("goodhew"))) </h2>
<h2>@Html.Disposable(x => x.Field(f => f.Class("Maria").Label("Sanchez was here"))) </h2>
<h2>@Html.Disposable(x => x.TextBox(c => c.Class("Daniela").Label("olivia").Rows(4))) </h2>

